<div class="row">
  <div class="col-md-6">

    
    <div *ngIf="walletInstallPromptCanBeShown" class="slideInWhenWalletNotification">
      <!-- <wallet-info-card style *ngIf="state.platform == 'desktop' && ( state.browser == 'Chrome' || state.browser == 'Firefox' )" -->
      <wallet-info-card  *ngIf="state.platform == 'desktop' && ( state.browser == 'Chrome' || state.browser == 'Firefox' ) && aeService.walletConnectionStatus != walletConnectionStatus.Connected" 
        [title]="'HEY, LET \'S GET STARTED !'"
        [type]="'primary'" 
        [nbIconName]="'nb-power'"
        [buttonCaption]="'LET\'S GO !'"
        [buttonURL]="state.browser == 'Firefox' ? 'https://addons.mozilla.org/en-US/firefox/addon/superhero-wallet/' : 'https://chrome.google.com/webstore/detail/superhero/mnhmmkepfddpifjkamaligfeemcbhdne?hl=en' "
        >
        Get the superhero wallet for free<br> and create your token! 
      </wallet-info-card>
 <!-- misc browsers on desktop, safari etc -->
      <wallet-info-card  *ngIf="state.platform == 'desktop' && !(state.browser == 'Chrome' || state.browser == 'Firefox' )"
        class="safari_only"
        [title]="'OH HEY THERE....'" 
        [type]="'primary'" 
        [nbIconName]="'nb-info'"
        [buttonCaption]="'LET\'S GO !'"
        [buttonURL]="'https://www.mozilla.org/en-US/firefox/new/'"
        >
        A WALLET IS REQUIRED TO CREATE TOKENS<br> PLEASE USE CHROME OR FIREFOX ! 
      </wallet-info-card>

      <!-- mobile -->
      <wallet-info-card  *ngIf="state.platform == 'mobile'"
        [title]="'AH, DAMN !'" 
        [type]="'primary'" 
        [nbIconName]="'nb-info'"
        [buttonCaption]="'LET\'S GO !'"
        [buttonURL]=""
      >
      WE'RE LAUNCHING ON MOBILE SOON !<br> PLEASE USE FROM DESKTOP BROWSER ! 
    </wallet-info-card>

      
    </div>

    <nb-card class="slideUp">
      

      <nb-card-header> Numbers & Infos</nb-card-header>
      <nb-card-body>
        <form [formGroup]="tokenData">
          <!-- name -->
          <!-- <div class="form-group row" nbTooltip="This is a tooltip" nbTooltipIcon="home-outline" nbTooltipTrigger="noop" nbTooltipDisabled="false"> tooltip variant-->
          <div class="form-group row" nbPopover="Token Name is required." nbPopoverTrigger="noop" nbPopoverContext="tokenName">
            <label for="inputTokenName" class="label col-sm-3 col-form-label">Token Name</label>
            <div class="col-sm-9 leaveSpaceForHelp">
              <input formControlName="tokenName" name="tokenName" type="text" nbInput fullWidth id="tokenName" placeholder="The Name of your Token" (blur)="checkValidity('tokenName')">
            </div> 
            <nb-icon class="centerIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="Enter a Name for your Token. E.g. 'DigiDollar' " nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
          </div>
            
          <!-- symbol -->
          <div class="form-group row" nbPopover="A symbol for your token is required." nbPopoverTrigger="noop" nbPopoverContext="tokenSymbol">
            <label for="inputTokenSymbol" class="label col-sm-3 col-form-label">Symbol</label>
            <div class="col-sm-9 leaveSpaceForHelp">
              <input type="text" formControlName="tokenSymbol" name="tokenSymbol"  nbInput fullWidth id="tokenSymbol" placeholder="Short Symbol of your token, e.g. 'DD'" (blur)="checkValidity('tokenSymbol')">
            </div>
            <nb-icon class="centerIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="Pick an iconic symbol for your Token, e.g. DD " nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
          </div>

          <!-- decimals -->
          <div class="form-group row" nbPopover="Please provide decimals (18 recommended)" nbPopoverTrigger="noop" nbPopoverContext="tokenDecimals">
            <label for="inputTokenDecimals" class="label col-sm-3 col-form-label">Decimals</label>
            <div class="col-sm-9 leaveSpaceForHelp">
              <input type="text" formControlName="tokenDecimals" name="tokenSymbol"  nbInput fullWidth id="inputtokenDecimals" placeholder="Number of decimals the token can have" (blur)="checkValidity('tokenDecimals')">
            </div>
            <nb-icon class="centerIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="Decimals are needed to transfer a fraction of a token. 18 are the strongly recommended practice " nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
          </div>
          

          <!-- Balance Owner -->
          <div class="form-group row" nbPopover="You need to generate an initial token supply" nbPopoverTrigger="noop" nbPopoverContext="tokenBalanceOwner">
            <label for="inputTokenBalanceOwner" class="label col-sm-3 col-form-label">Total Amount</label>
            <div class="col-sm-9 leaveSpaceForHelp">
              <input type="url" formControlName="tokenBalanceOwner" name="tokenBalanceOwner" nbInput fullWidth id="inputTokenBalanceOwner" placeholder="Initial balance of the token creator" (blur)="checkValidity('tokenBalanceOwner')">
            </div>
            <nb-icon class="centerIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="Whole amount will initially be assigned to you." nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
          </div>

          <!-- burnable  -->
          <div class="form-group row">
            <label for="burnable" class="label col-sm-3 col-form-label">Burnable</label>
            <nb-checkbox [checked]="burnable" (checkedChange)="burnable = !burnable" style="padding: 7.5px 15px 0 15px" id="burnable">  
               <nb-icon class="checkmarkInfoIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="Users can burn parts of all of their balance" nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
            </nb-checkbox>
          </div>

          <!-- mintable-->
          <div class="form-group row">
          <label for="mintable" class="label col-sm-3 col-form-label">Mintable</label>
          <nb-checkbox [checked]="mintable" (checkedChange)="mintable = !mintable" id="mintable" style="padding: 7.5px 15px 0 15px" >
              <nb-icon class="checkmarkInfoIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="The creator of the token can mint more tokens" nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
          </nb-checkbox>
        </div>


<!-- Mint Button -->
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9" style="margin-top: 25px;">
              <button type="submit" 
              [disabled]="!tokenData.valid || showSpinnerOnMintButton || aeService.walletConnectionStatus != walletConnectionStatus.Connected" 
              (click)="mint()" 
              nbButton status="primary"
              nbButton 
              matRipple 
              status="primary" 
              size="giant" 
              [nbSpinner]="showSpinnerOnMintButton" 
              nbSpinnerStatus="primary" 
              nbSpinnerSize="large" 
              nbSpinnerMessage=""
              >CREATE TOKEN</button>
            </div>
          </div>

        </form>

      </nb-card-body>
    </nb-card>
    
    <!-- Success notification-->
    <div *ngIf="this.deployedTokenAddress != null" class="slideUpNotification" >
    <!-- <div *ngIf="true" class="slideUpNotification" > -->
      <ngx-status-card [title]="'TOKEN CREATED !'" [type]="'success'" [nbIconName]="'nb-checkmark'" [contractType]="'token'" [nftAddress]="deployedTokenAddress">
        <!-- <i [ngClass]="'nb-checkmark'"></i> -->
        Your Token has successfully been <br> mined on the Blockchain! 
      </ngx-status-card>
    </div>
  

  </div>


 <!-- Code Preview -->
  <!-- <ngx-security-cameras class="col-md-6 centerPreview slideLeft" [nftBaseUrl]="this.nftData.get('nftBaseUrl').value" [nftName]="this.nftData.get('nftName').value" [helpMessage]="'The preview does not represent the real size of your NFT.'"></ngx-security-cameras> -->
  <!-- <ngx-monaco-editor class="col-md-6 centerPreview slideLeft" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor> -->
  <div class="col-md-6 centerPreview slideLeft">
    <nb-card size="giant" class="col-md-12 noPadding">

      <nb-card-header>
        Code Preview  &nbsp; <nb-icon class="centerIcon" [icon]="'question-mark-circle-outline'" pack="eva" nbPopover="The token contract code you are about to deploy" nbPopoverTrigger="hover" nbPopoverPlacement="right"></nb-icon>
      </nb-card-header>
      <ngx-monaco-editor class="editor-container" [options]="editorOptions" [(ngModel)]="code">  </ngx-monaco-editor>

      <div class="grid-container">
        <div class="single-view" *ngIf="isSingleView">
          
          <!-- <div class="camera single" [style.background-image]="'url(' + 'assets/images/placeholder.png' + ')'"> -->
          <div class="camera single">
          <!-- <div class="camera single" [style.background-image]="'url(' + nftBaseUrl != '' ? nftBaseUrl : 'assets/images/camera3.jpg' + ')'"> -->
            
          </div>
        </div>
      </div>
    


      <nb-card-footer class="hideFooter">

        <!-- AE studio button, comming soon -->
        <!--   <button type="submit" 
          nbButton status="primary"
          nbButton 
          matRipple 
          status="primary" 
          size="giant" 
          [nbSpinner]="showSpinnerOnMintButton" 
          nbSpinnerStatus="primary" 
          nbSpinnerSize="large" 
          nbSpinnerMessage=""
          >OPEN IN AESTUDIO</button> -->

          <!-- this has to be hidden, removing it causes glitches. -->
        <nb-actions style="visibility: hidden; height:0px" [size]="actionSize" fullWidth>
          <nb-action matRipple>
            <nb-icon icon="pause-circle-outline" pack="eva"></nb-icon>
            Pause
          </nb-action>
          <nb-action matRipple>
            <nb-icon icon="list-outline" pack="eva"></nb-icon>
            Logs
          </nb-action>
          <nb-action matRipple>
            <nb-icon icon="search-outline" pack="eva"></nb-icon>
            Search
          </nb-action>
          <nb-action matRipple>
            <nb-icon icon="settings-2-outline" pack="eva"></nb-icon>
            Setup
          </nb-action>
        </nb-actions>
      </nb-card-footer>
      
    </nb-card>
    
  </div>


  

</div>
