
<div  *ngFor='let nft of nfts'  class="row">

    <ngx-security-cameras class="col-md-12 col-lg-8 col-xxxl-8 centerPreview slideLeft" [nftBaseUrl]="nft.nftBaseUrl" [nftName]="nft.nftName" ></ngx-security-cameras>
<!-- Info card on the side  -->
<!-- TODO: Show loading placeholders with https://www.codepicky.com/content-placeholders/ -->
  <div class="col-md-12 col-lg-4 col-xxxl-4 ">
    <nb-card size="medium" class="headings-card">
      <nb-card-header>Description</nb-card-header>
      <nb-card-body class="scrollbar-hidden">
        <div class="header">
          
          <div class="detail">
            Symbol
          </div>
                    <div>
                      <h1>{{nft.nftSymbol}}</h1>
                    </div>
        </div>

        <div class="header">
          <div class="detail">
            Name
          </div>
          
          <div>
            <h4>{{nft.nftName}}</h4>
          </div>
          
        </div>

        <div class="header">
          
          <div class="detail">
            Minted
          </div>
          <div>
            <h6>{{nft.nftMinted}}</h6>
          </div>
        </div>

        <div class="header">
          
          <div class="detail">
            Description
          </div>
          <div>
            <h6>{{nft.nftDescription}}</h6>
          </div>
        </div>
     <!--    <div class="header">
          
          <div class="detail">
            800 1.375rem (22px)
          </div>
          
          <div>
            <h5>H5. Heading</h5>
          </div>
        </div> -->
        
      <!--   <div class="header">
          <div>
            <h6>H6. Heading</h6>
          </div>

          <div class="detail">
            800 1.125rem (18px)
          </div>
        </div> -->
      



      </nb-card-body>
    </nb-card>
  </div>


</div>
